Repository SnO2WMaN/gradation-slider: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{css,sass,scss,json,yml,yaml,md,gql}": ["prettier --write"],
  "*.babelrc": ["prettier --write"],
  "*.eslintrc": ["prettier --write"],
  "*.prettierrc": ["prettier --write"],
  "*.lintstagedrc": ["prettier --write"],
  "*.huskyrc": ["prettier --write"],
  "*.renovaterc": ["prettier --write"]
}

docs(LICENSE): WTFPL追加
  LICENSE
Due: none

fix: @storybook/addon-infoから@storybook/addon-docsへ移行
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor: Next.jsは無かったことに
  .babelrc
  .eslintignore
  .gitignore
  .prettierignore
  next-env.d.ts
  package.json
  src/pages/_app.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore(devcontainer): styled-componentの拡張機能を推奨する
  .devcontainer/devcontainer.json
Due: prettier --write

build(storybook): いろいろなアドオンを追加
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: スライダーを実装
  src/components/Slider.tsx
  src/utils/tailwind.ts
  stories/Slider.stories.tsx
  tailwind.config.js
Due: eslint --fix

docs(README): 仮置き
  README.md
Due: prettier --write

chore: Renovateの設定ファイル追加
  .renovaterc
Due: prettier --write
